
body{
	 margin:0;
	 width: 100%;
	 height: 	100%;

}

.nav{
	     text-align: right;	
		 border-bottom: 1px solid #eaeaeb;
			height: 70px;
			line-height: 70px;
}	

.links{
	margin: 0 30px 0 0;
}

.links a{
	text-decoration: none;
	color: #666;
	  margin: 0 10px;
	line-height: 70px;
	clear: right;
}

label{
		margin: 0 40px 0 0;
		font-size: 26px;
		display: none;
		line-height: 70px;
		width: 26px;
		float: right;
}


#toggle{
	display: none;
}


@media only screen and (max-width:768px){

	.hero-image{
	background-image:linear-gradient(rgba(0, 0, 0,0.5),rgba(0,0,0,0.5)), url("background.png");
	height: 700px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 999;

}

	/*label{
		display: block;
		cursor: pointer;

	}*/
		/*.nav{
			border-bottom: none;
			z-index: 999;
			background-color: #66ffba;
		}


			.links{

				text-align: center;
				width: 100%;
				display: none;
				background-color: rgba(0,66,0,0.5);

			}
			.links a{
			display: block;
				border-bottom: 1px solid #eaeaeb;
				margin: 0;
				font-size: 20px;
				color: red;

			}

				#toggle:checked + .links{
					display: block;
				}
*/
				.welcometxt{
					margin-right: 20px;
				}


}